#img11{
    /* border: 1px solid blue;  */
    width: 95%;
    margin: auto;
    height: 630px;
    margin-top: 30px;
    background-image: url("https://www.apple.com/v/iphone/home/be/images/overview/retail/why_apple__ezn1ktvka6oi_large_2x.jpg");
    background-size:130%;
}
#backimg11{
    /* border: 1px solid blue; */
    height: 300px;
    width: 500px;
    margin: auto;
    margin-top: 150px;
    margin-left: 500px;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-size: 48px;
    line-height: 52px;
    color: #1d1d1f;
    text-align: center;
    font-weight: 600;
}
#para11{
    font-family:"SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
 font-weight: 400;
 font-size: 21px;
 line-height: 29px;
 color: #1d1d1f;
 text-align: center;
 font-style: normal;
 margin-top: 23px;
}
#link11{
    font-family:"SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 21px;
    line-height: 29px;
    color: #0066cc;
    text-align: center;
    font-style: normal;
    margin-top: 23px;
    text-decoration: none;
}
#link11:hover{
    text-decoration: underline;
}