#contend17{
    /* border: 1px solid blue; */
    height: 100px;
    width: 80%;
    margin: auto;
    margin-top: 80px;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    line-height: 60px;
    font-size: 56px;
    color: #1d1d1f;
}