#container4{
    /* border: 1px solid black; */
    width: 100%;
    height: 800px;
    background-color: #ffffff;

}
#imageDiv{
    margin: auto;
    
    width: 97.5%;
    height: 95%;
    margin-top: 1.5%;
    border-radius: 40px;
    background-image: url("https://www.apple.com/v/iphone/home/be/images/overview/subhero/guided_tour__c40f88on9o8y_small_2x.jpg");
   
}
#text4{
    /* border: 1px solid white; */
    width: 340px;
    height: 480px;
    margin-left: 100px;
    text-align: left;
    
}
#heading4{
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: #ffffff;
    font-size: 24px;
    line-height: 28px;
    
}
#iphone4{
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    line-height: 52px;
    font-size: 48px;
    font-style: normal;
    color: #ffffff;
}
#button4{
    color: #000000;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    font-style: normal;
    background-color: #ffffff;
    border: 0px;
    height: 35px;
    width: 150px;
    border-radius: 20px;
    margin-top: 20px;
}