#container22{
    /* border: 1px solid blue; */
    width: 95%;
    margin: auto;
    height: 550px;
   
    display: flex;
}
#div122{
    /* border: 1px solid blue; */
    height: 100%;
    width: 50%;
}
#imgdiv22{
    /* border: 1px solid blue; */
    margin: auto;
    width: 500px;
    height: 330px;
  
}
#appleImg22{
    /* border: 1px solid black; */
    width: 60%;
    margin: auto;
    height: 130px;
    /* margin-top: 150px; */
}
#bottom22{
    /* border: 1px solid blue; */
    height: 150px;
    width: 80%;
    margin: auto;
    
}
#para22{
    font-family:  "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
    color: #1d1d1f;
}
#link22{
    font-family:"SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 21px;
    line-height: 29px;
    color: #0066cc;
    text-align: center;
    font-style: normal;
    margin-top: 23px;
    text-decoration: none;
    padding-top: 20px; 
}
#link22:hover{
    text-decoration: underline;
}