#container7{
    /* border: 1px solid blue; */
    width: 95%;
    margin: auto;
    height: 550px;
    margin-top: 100px;
    background-image: url("https://www.apple.com/v/watch/at/images/overview/fitness-plus/fitness_plus__fl5ioto4a4eq_large_2x.jpg");
    background-size: 100%;
}
#inDiv-7{
    /* border: 1px solid blue ; */
    height: 300px;
    width: 430px;
    margin-left: 700px;
    margin-top: 150px;
}
#para-7{
    font-family:  "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 36px;
    color: #1d1d1f; 
    text-align: center;
    margin-top: 30px;

}
#link-7{
    font-family:  "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #0066cc;
    font-style: normal;
    text-decoration: none;
    padding-top: 10px;


}
#link-7:hover{
    text-decoration: underline;
}
#links-7{
    margin-top: 30px;
}