
 .outer{
  /* border: 1px solid red; */
  width: 35%;
  margin: auto;
  
  margin-bottom: 20px;
}
.outer>img{
  margin: auto;
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
  .outer {
   
  justify-content: center;
  width: 100%;
 
  }
}
.mainHeading {
  font-size: 56px;
  line-height: 1.07143;
  font-weight: 580;
  letter-spacing: -0.005em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  color: rgb(51,51,51);
}
.top {
  font-weight: 600;
  margin-bottom: 0.3em;
  background: rgba(0, 0, 0, 0);
  border-color: #bf4800;
  color: #f56300;
  font-size: 17px;
}
.subHeading {
  font-size: 28px;
  margin-top: 0;
  color: rgb(51,51,51);
  margin-bottom: 10px;
}
.pricine-tag {
  margin-top: 0;
  line-height: 1.47059;
}
.pricing {
  margin-top: 0;
  color: rgb(77, 77, 81);
  font-weight: lighter;
  font-size: 17px;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  line-height: 1.47059;
  text-align: center;
  margin-bottom: 25px;
}
.button {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  font-size: 17px;
  line-height: 1.17648;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  min-width: 28px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 980px;
  background: #0071e3;
  color: #fff;
  border: none;
  margin: 20px 0 20px 0;
}
.link {
  color: #06c;
  text-decoration: none;
  letter-spacing: inherit;
  font-size: 17px;
  line-height: 1.47059;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  margin-left: 30px;
  justify-content: left;
}
.link:hover {
  text-decoration: underline;
}
.btnAndLink {
  margin-top: 15px;
  margin-bottom: 50px;
}
.hr {
  margin-top: 150px;
  position: relative;
  border: none;
  height: 12px;
  margin-bottom: 50px;
  background-color: rgb(245,245,247);
}



/* 3 section end */

.variety{
    background-color: rgb(250,250,250);
    margin: auto;
}
.variety li {
  cursor: pointer;
  
}
 li:hover{
  text-decoration: underline;
}
.main_heading{
    font-size: 48px;
    line-height: 1.08349;
    font-weight: 600;
    letter-spacing: -.003em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: rgb(51,51,51);
}
 .list{
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
    
}



/* <------------------> */

.mainHeading{
  font-size: 48px;
  line-height: 1.08349;
  font-weight: 600;
  letter-spacing: -.003em;
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  margin-top: 150px;
}
.info {
font-size: 20px;
}
.appCard{
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 50px;
}
.appCard img:hover{
  cursor: pointer;
}


.subgroup{
  display: flex;
  gap: 100px;
  margin-left: 100px;
}
.main{
  font-size: 48px;
    line-height: 1.08349;
    font-weight: 600;
    letter-spacing: -.003em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: rgb(29,29,31);
}
.sub{
  font-size: 24px;
  line-height: 1.16667;
  font-weight: 600;
  letter-spacing: .009em;
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: rgb(29,29,31);
}

.last{
  font-size: 21px;
  line-height: 1.381;
  font-weight: 400;
  letter-spacing: .011em;
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: rgb(29,29,31);
}
.logo{
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
}

.new >img{

  margin: auto;
}